.layout-menu-light {
    --menu-bg: #203E61;
    --menu-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
    --root-menuitem-text-color: #657380;
    --menuitem-text-color: #FFFFFF;
    --menuitem-hover-bg: rgba(255, 255, 255, 0.17);
    --active-menuitem-text-color: #203E61;
    --active-menuitem-bg: #FFFFFF;
}